$app_unit: 8px;


// App Colour System
$color:             #ea0437;
$white:             #fff !default;
$black:             #000 !default;
$text-colour:       #101010 !default;
$shadow:              #DBE3F4 !default;
$background-color:  #f1f1f1 !default;
$primary:           #d70032 !default;
$secondary:         #670131 !default;
